#panel {
  background-color: lightgoldenrodyellow;
  padding-top: 20px;
  padding-bottom: 30px;
}

.nav-extended {
  background-image: url(../images/beach2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 1px 3px rgba(1, 0, 0, 5);
  color: white;
}

.nav-extended, li {
  color: white;
}

.nav-content {
  background-color: rgba(0, 0, 0, 0.5);
  /*	left: -11px;*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.brand-logo {
  float: left;
  margin-left: 2%;
  text-shadow: 0 1px 3px rgba(1, 0, 0, 9);
  margin-top: 1%;
}

#directions {
  text-align: center;
}

.center, #city-input {
  height: 1.6em;
  border: none;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4%;
}

#city-input {
  background-color: white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

#main-row {
  background-image: url(../images/passport.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

#date-header {
  color: black;
  text-align: center;
  font-size: 20px;
}

#activity-header {
  color: black;
  text-align: center;
  font-size: 20px;
  border-bottom: #414141;
}

#photo-feed {
  background-color: white;
  height: 100%;
  position: absolute;
  right: 0px;
  overflow: auto;
}

#city-pic{
  object-fit: cover;
  height: 100%;
  width: auto;
}

#api-pics {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #414141;
}

.page-footer {
  background-color: #414141;
  font-size: .7em;
}

.profile {
  margin-top: 10px;
  margin-right: 10px;
}

.divider {
  margin-top: 20px;
  margin-bottom: 20px;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  cursor: pointer;
  top: 50%;
  right: 0%;
  padding: 12px 5px;
  transform: translate(0%, -50%);
  font-size: 1em;
  font-weight: lighter;
  vertical-align: top;
  text-align: center;
}

.close:hover {
  /*	background: #bbb;*/
}

.tabs li {
  /*	display:inline;*/
  padding: 0 10px 0 10px;
  margin-top: -10px;
  border-right-style: solid;
  border-right-width: .01px;
  color: rgba(255, 255, 255, 0.2);
}

.tabs li:last-child {
  border-right: none;
}
.user {
  width: 100%;
  height: 100%;

}
/*********************************** OpenWeather API styling ******************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
.city {
  position: absolute;
  top: 25px;
  left: 25px;
  background: none;
  color: #fff;
  font-size: 2em;
}

.description {
  position: absolute;
  top: 68px;
  left: 25px;
  background: none;
  color: #fff;
  font-size: 1.1em;
}

.weatherData {
  color: #fff;
  position: absolute;
  top: 25%;
  left: 5%;
  font-size: 1.3em;
}

.humidityIcon{
width:20px;
float: left;
margin: 3px;
}

.currentWeather {
  position: absolute;
  top: 18%;
  left: 20%;
  width: 70%;
}

.days {
  z-index: 25;
  padding: 45% 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.temp {
  color: #fff;
  position: absolute;
  top: 25px;
  right: 5%;
  font-size: 2.5em;
}

.day {
  display: none;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  height: 200px;
  background-color: rgba(192, 192, 192, 0.3)
}

.day>img {
  height: 15%;
  position: relative;
  top: 25%;
}

.weatherbox {
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 25px;
  position: relative;
  width: 600px;
  height: 400px;
  margin-right: 40px;
  background: url('../images/weather/background.jpg');
}

/*********************************** google map styling ******************************************/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 100%;
  width: 100%;
}

#googleMapParentDiv {
  height: 400px;
  width: 600px;
  margin-left: 20px;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

/*********************************** google map styling ******************************************/