/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/*
.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
*/

#panel{
    background-color: lightgoldenrodyellow;
    padding-top:20px;
    padding-bottom:30px;
}

.nav-extended {
	background-image:url(../images/beach2.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-shadow: 0 1px 3px rgba(1,0,0,5);
	color: white;
}
.nav-extended, li {
	color: white;	
}
.nav-content {
	background-color: rgba(0, 0, 0, 0.5);
}
.brand-logo {
	float: left;
	margin-left: 2%;
	text-shadow: 0 1px 3px rgba(1, 0, 0, 9);
	margin-top: 1%;
}
.center, #city-input {
	height: 1.6em;
	border: none;
	color: black;
	display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-align-items: center;
		  -ms-flex-align: center;
			  align-items: center;
	margin-top: 4%;
}
#city-input {
	background-color: white;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
#api-pics {
	margin-left: auto;
	margin-right: auto;
	
}
.footer {
	background-color: #414141;
}
.page-footer {
	background-color: #414141;
	font-size: .7em;	
}







/*********************************** google map styling ******************************************/
   /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      #googleMapParentDiv {
        height: 400px;
        width: 600px;
        margin: 0;
        padding-right: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }

    /*********************************** google map styling ******************************************/

