/* Nav */
.nav-extended {
  background-image: url(../images/beach2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 1px 3px rgba(1, 0, 0, 5);
  color: white;
}
.nav-extended, li {
  color: white;
}
#directions {
  text-align: center;
}
/* Nav...where added cities go */
.nav-content {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.center, #city-input {
  height: 1.6em;
  border: none;
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 4%;
}
#city-input {
  background-color: white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
/* Logo */
.brand-logo {
  float: left;
  margin-left: 2%;
  text-shadow: 0 1px 3px rgba(1, 0, 0, 9);
  margin-top: 1%;
}
/* Google Signin */
.g-signin2 {
  width: auto;
  text-shadow: none;
}
#signon-id {
  /* top: 20px; */
}
/* .profile {
  margin-top: 10px;
  /* margin-right: 10px; */
/* }  */

/* ??????????????????? */
.user {
  width: 100%;
  height: 100%;
  max-width: 100px;
}

.mid-section {
  width: 80%;
  max-width: 980px;
  float: left;
  float: right:
}
/* Itinerary */
#main-row {
  /* display: inline-flex; */
  background-image: url(../images/passport.jpg);
  background-size: cover;
  background-position: center;
  width: 80%;
  object-fit:contain;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#panel-1 {
  background-color: lightgoldenrodyellow;
  padding: 20px;
  object-fit: cover;
  height: auto;
  width: 100%;
  margin: 20px;
}
/* Middle Section */
#panel-2 {
  width: 100%;
  margin-left: 20px;
  top: 10px;
}
#date-header {
  color: black;
  font-size: 20px;
  right: -10;
}
#time-header {
  color: black;
  font-size: 20px;
}
#activity-header {
  color: black;
  font-size: 20px;
  border-bottom: #414141;
}
#activity-header p {
  text-align: left;
}
#panel-3 {
  width: 100%;
  margin-right: -15px;
  /* position: absolute;
  right: 0px; */
}

#photo-feed {
  overflow:hidden;
  object-fit: contain;
}
/* What is this??? */
/* #city-pic{ 
  object-fit: contain;
  height: 400px;
  width: auto;
  max-height: 400px;
} */
/* API Section */
#api-pics {
  margin-left: auto;
  margin-right: auto;
}
/* Footer Section */
.footer {
  background-color: #414141;
}
.page-footer {
  background-color: #414141;
  font-size: .7em;
}

.divider {
  margin-bottom: 10px;
}

ul li:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* X Delete option in menu bar */
.close {
    cursor: pointer;
    /* top: 50%; */
    right: 0%;
    /* padding: 12px 5px; */
    /* transform: translate(0%, -50%); */
    font-size: 1em;
    font-weight: lighter;
    /* vertical-align: top; */
    text-align: center;
    background: none;
    border: none;
    color: white;
    float: left;
}
.close {
  cursor: pointer;
  /* top: 50%;
  right: 0%; */
  padding: 12px 5px;
  transform: translate(0%, -50%);
  font-size: 1em;
  font-weight: lighter;
  vertical-align: top;
 }
.a-tag{
  float:left;
  background-color: transparent;
  border: none;
  color: white;
  padding-top: 5px;
}
.tabs li {
  padding: 0 10px 0 10px;
  margin-top: -10px;
  border-right-style: solid;
  border-right-width: .01px;
  color: rgba(255, 255, 255, 0.2);
}
.tabs li:last-child {
  border-right: none;
}


.tabs .tab a {
  color: white;
} 
.city-div {
  margin-top: 10px;
  margin-right: 20px;
}
/* .connectedo591rl1cb7ta {
  text-shadow: none;
  align-content: center;
  align-items: center;
  
} */
/*********************************** OpenWeather API styling ******************************************/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
.city {
    position: absolute;
    top: 12px;
    left: 25px;
    background: none;
    color: #fff;
    font-size: 3em;
}

.description {
    position: absolute;
    top: 67px;
    left: 25px;
    background: none;
    color: #fff;
    font-size: 1.3em;
}

.weatherData {
    color: #fff;
    position: absolute;
    top: 25%;
    left: 3%;
    font-size: 2em;
}

.humidityIcon{
    width:20px;
    float: left;
    margin: 3px;
}

.currentWeather {
    position: absolute;
    top: 18%;
    left: 20%;
    width: 70%;
}

.temp {
    color: #fff;
    position: absolute;
    top: 0px;
    right: 5%;
    font-size: 4.5em;
}

.day {
  display: none;
  border-radius: 20px;
  margin: 15px;
  padding: 15px;
  height: 200px;
  background-color: rgba(192, 192, 192, 0.3)
}

.day>img {
  height: 15%;
  position: relative;
  top: 25%;
}

.weatherbox {
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  width: 600px;
  height: 400px;
  margin-right: 15px;
  margin-left: 10px;
  /* margin-bottom: 2%; */
  background: url('../images/weather/background.jpg');
}

/*********************************** google map styling ******************************************/

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
  height: 100%;
  width: 100%;
}

#googleMapParentDiv {
  position: relative;
  height: 400px;
  width: 600px;
  margin-right: 15px;
  margin-left: 10px;
  /* margin-bottom: 2%; */
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/*********************************** google map styling ******************************************/
/* .socialitem ul {
		list-style: none;
		margin: 0;
    padding: 0;

}
.socialitem li {
      vertical-align:  middle;
}
.socialitem a {
				display: inline;
				font-size: 1.4em;
				margin: 0 5px;
				text-decoration: none;
} */